<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
        }
    </style>
    <title>SignUp</title>
</head>
<body>
    <h1>Signup</h1>
    <form method="post" action="/user">
        <label>FullName:</label>
        <input type="text" name="name" required>
        <br><br>
        <label>Email:</label>
        <input type="text" name="email" required placeholder="xyz@gmail.com">
        <br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br><br>
        <button type="submit">Signup</button>
    </form>
</body>
</html>